.div {
    align-items: flex-start;
    background-color: #e3cdff;
    display: flex;
    padding: 125px 179px 108.72px 1001.2px;
    position: relative;
    width: 1920px;
  }
  
  .div .div-main-txt {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 41.43%;
    left: 10.94%;
    position: relative;
    top: 30.51%;
    width: 35.46%;
  }
  
  .div .p {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 0px 355.78px 0px 0px;
    position: relative;
    width: 680.78px;
  }
  
  .div .fesit-k {
    color: transparent;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 70px;
    margin-right: -128px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div .text-wrapper {
    color: #000000;
  }
  
  .div .span {
    color: #0881a3;
  }
  
  .div .strong-strong {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-right: -195px;
    padding: 0px 286.26px 0px 0px;
    position: relative;
  }
  
  .div .element-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 1px 211.52px 2px 0px;
    position: relative;
  }
  
  .div .element {
    color: #4f4f4f;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 54px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .div .element-2 {
    color: #4f4f4f;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 70px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div .miroodles-color-comp {
    height: 389px;
    margin-right: -19.2px;
    position: relative;
    width: 759px;
  }
  