.page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .page .div {
    background-color: #ffffff;
    border: 1px none;
    height: 1887.34px;
    position: relative;
    width: 1920px;
  }
  
  .page .overlap {
    height: 1603px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .page .div-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 70px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 1920px;
  }
  
  .page .div-contents {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 110px;
    padding: 0px 0px 62px;
    position: relative;
    width: 1920px;
  }
  
  .page .div-section {
    align-items: flex-start;
    background-color: #fbf8f2;
    display: flex;
    flex: 0 0 auto;
    padding: 125px 247.41px 108.72px 1001.2px;
    position: relative;
    width: 1920px;
  }
  
  .page .div-main-txt {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 202px;
    position: absolute;
    top: 180px;
    width: 681px;
  }
  
  .page .p {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 0px 355.78px 0px 0px;
    position: relative;
    width: 680.78px;
  }
  
  .page .fesit-k {
    color: transparent;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 70px;
    margin-right: -128px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .text-wrapper {
    color: #000000;
  }
  
  .page .span {
    color: #0881a3;
  }
  
  .page .strong-strong {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-right: -195px;
    padding: 0px 286.26px 0px 0px;
    position: relative;
  }
  
  .page .p-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 1px 211.52px 2px 0px;
    position: relative;
  }
  
  .page .text-wrapper-2 {
    color: #4f4f4f;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 54px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .page .text-wrapper-3 {
    color: #4f4f4f;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 70px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .miroodles-color-comp {
    height: 366.28px;
    position: relative;
    width: 671.39px;
  }
  
  .page .div-reser {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 3px 3px 20px 4px #d5cfbc59;
    display: inline-flex;
    left: 202px;
    overflow: hidden;
    position: absolute;
    top: 540px;
  }
  
  .page .form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1516.8px;
  }
  
  .page .div-weight-wrap {
    align-items: flex-start;
    background-color: #fbbc05;
    display: flex;
    justify-content: center;
    padding: 27px 30px 28px;
    position: relative;
    width: 450px;
  }
  
  .page .input {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 7px 0px 8px;
    position: relative;
  }
  
  .page .div-placeholder {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 3px 66.25px 3px 65.58px;
    position: relative;
    width: 173.83px;
  }
  
  .page .text-wrapper-4 {
    color: #212121;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .div-start-wrap {
    align-items: center;
    background-color: #ffd6a4;
    border-color: #b1b1b1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    justify-content: center;
    padding: 27px 1px 28px;
    position: relative;
    width: 450px;
  }
  
  .page .div-placeholder-2 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 3px 71.92px 3px 72.91px;
    position: relative;
    width: 173.83px;
  }
  
  .page .text-wrapper-5 {
    color: #212121;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -56.5px;
    margin-right: -56.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .div-end-wrap {
    align-items: center;
    background-color: #e6d4cb;
    display: flex;
    justify-content: center;
    padding: 27px 0px 28px;
    position: relative;
    width: 450px;
  }
  
  .page .div-input-box {
    align-items: flex-start;
    display: flex;
    position: relative;
    width: 180px;
  }
  
  .page .div-placeholder-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    margin-right: -0.07px;
    padding: 7px 0px 8px;
    position: relative;
  }
  
  .page .div-placeholder-3 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 3px 75.03px 3px 76.04px;
    position: relative;
    width: 180.07px;
  }
  
  .page .div-submit-btn-div {
    align-items: flex-start;
    background-color: #ffd502;
    border-radius: 0px 0px 15px 0px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 27.5px 30px;
    position: relative;
  }
  
  .page .input-2 {
    background-color: #ffd502;
    height: 40px;
    position: relative;
    width: 64px;
  }
  
  .page .text-wrapper-6 {
    color: #212121;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 25px;
    left: 0;
    letter-spacing: 0;
    line-height: 22.9px;
    position: absolute;
    text-align: center;
    top: 6px;
    white-space: nowrap;
    width: 64px;
  }
  
  .page .strong-strong-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    position: relative;
    width: 1200px;
  }
  
  .page .div-how-title {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 42.58px 0px 42.42px;
    position: relative;
  }
  
  .page .fesit-wrapper {
    align-items: flex-start;
    display: flex;
    padding: 0px 170.86px 0px 0px;
    position: relative;
    width: 316.86px;
  }
  
  .page .fesit {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 71.4px;
    margin-right: -143px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .page .div-use-icon {
    height: 228px;
    position: relative;
    width: 704px;
  }
  
  .page .div-use-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 38px;
    width: 190px;
  }
  
  .page .div-use-img {
    flex: 0 0 auto;
    position: relative;
    width: 150px;
  }
  
  .page .div-use-txt {
    height: 68px;
    position: relative;
    width: 190px;
  }
  
  .page .heading {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 22px;
    left: 26px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .page .text-wrapper-7 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 18px;
    left: 34px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
  }
  
  .page .text-wrapper-8 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 18px;
    left: -8px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 48px;
    white-space: nowrap;
  }
  
  .page .div-right-arr {
    align-items: flex-start;
    display: inline-flex;
    justify-content: center;
    left: 210px;
    padding: 3.33px 0px 202.67px;
    position: absolute;
    top: 68px;
  }
  
  .page .right-arr-png {
    height: 22px;
    position: relative;
    width: 27px;
  }
  
  .page .div-use-box-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 257px;
    position: absolute;
    top: 36px;
    width: 190px;
  }
  
  .page .div-use-img-2 {
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 75px;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: 27.08px 20px 27.08px;
    position: relative;
    width: 150px;
  }
  
  .page .mingcute-check-fill {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .page .ri-check-line {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .page .system-uicons {
    height: 22px;
    position: relative;
    width: 22px;
  }
  
  .page .heading-2 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 22px;
    left: 56px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .page .text-wrapper-9 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 18px;
    left: 48px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
  }
  
  .page .text-wrapper-10 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 18px;
    left: 49px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 48px;
    white-space: nowrap;
  }
  
  .page .right-arr-png-wrapper {
    align-items: flex-start;
    display: inline-flex;
    height: 228px;
    justify-content: center;
    left: 467px;
    padding: 3.33px 0px 202.67px;
    position: absolute;
    top: 68px;
  }
  
  .page .div-use-box-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 514px;
    position: absolute;
    top: 36px;
    width: 190px;
  }
  
  .page .heading-3 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 22px;
    left: 67px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .page .text-wrapper-11 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 18px;
    left: 15px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 48px;
    white-space: nowrap;
  }
  
  .page .strong-strong-3 {
    background-color: #fbfbfb;
    height: 531.64px;
    position: relative;
    width: 1920px;
  }
  
  .page .text-wrapper-12 {
    color: #333333;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    height: 43px;
    left: 861px;
    letter-spacing: 0;
    line-height: 42.9px;
    position: absolute;
    text-align: center;
    top: 28px;
    white-space: nowrap;
  }
  
  .page .div-swiper-container {
    height: 429px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 103px;
    width: 1920px;
  }
  
  .page .div-swiper-wrapper {
    align-items: flex-start;
    display: inline-flex;
    gap: 30px;
    left: -488px;
    padding: 0px 0px 0px 487.5px;
    position: absolute;
    top: 0;
  }
  
  .page .div-swiper-slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 457.5px;
  }
  
  .page .link-thumb {
    height: 320.25px;
    position: relative;
    width: 320.25px;
  }
  
  .page .list {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    padding: 0px 0px 0.7px;
    position: relative;
    width: 457.5px;
  }
  
  .page .item {
    height: 22.85px;
    position: relative;
    width: 457.5px;
  }
  
  .page .link-x {
    color: #000000;
    font-family: "Roboto-Black", Helvetica;
    font-size: 16px;
    font-weight: 900;
    height: 25px;
    left: 66px;
    letter-spacing: -0.5px;
    line-height: 22.9px;
    position: absolute;
    text-align: center;
    top: -3px;
    white-space: nowrap;
    width: 326px;
  }
  
  .page .item-2 {
    color: #999999;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15.7px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .link-x-2 {
    color: #000000;
    font-family: "Roboto-Black", Helvetica;
    font-size: 16px;
    font-weight: 900;
    height: 25px;
    left: 37px;
    letter-spacing: -0.5px;
    line-height: 22.9px;
    position: absolute;
    text-align: center;
    top: -3px;
    white-space: nowrap;
    width: 383px;
  }
  
  .page .link-x-3 {
    color: #000000;
    font-family: "Roboto-Black", Helvetica;
    font-size: 16px;
    font-weight: 900;
    height: 25px;
    left: 50px;
    letter-spacing: -0.5px;
    line-height: 22.9px;
    position: absolute;
    text-align: center;
    top: -3px;
    white-space: nowrap;
    width: 358px;
  }
  
  .page .link-x-4 {
    color: #000000;
    font-family: "Roboto-Black", Helvetica;
    font-size: 16px;
    font-weight: 900;
    height: 25px;
    left: 74px;
    letter-spacing: -0.5px;
    line-height: 22.9px;
    position: absolute;
    text-align: center;
    top: -3px;
    white-space: nowrap;
    width: 310px;
  }
  
  .page .div-swiper {
    align-items: flex-start;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 0;
    padding: 11px 908px 6.7px;
    position: absolute;
    top: 393px;
  }
  
  .page .button-go-to-slide {
    background-color: #000000;
    border-radius: 8px;
    height: 8px;
    opacity: 0.2;
    position: relative;
    width: 8px;
  }
  
  .page .button-go-to-slide-2 {
    background-color: #000000;
    border-radius: 8px;
    height: 8px;
    position: relative;
    width: 8px;
  }
  
  .page .div-2 {
    background-color: #ffffff01;
    box-shadow: 1px 2px 10px -4px #0000008c;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .page .nav {
    background-color: #ffffff4c;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ffffff;
    height: 130px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .page .list-2 {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    left: 791px;
    position: absolute;
    top: 50px;
    width: 376px;
  }
  
  .page .link-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 20px 0.7px;
    position: relative;
  }
  
  .page .link {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 25.7px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .list-item {
    align-items: flex-start;
    display: inline-flex;
    left: 1582px;
    position: absolute;
    top: 54px;
  }
  
  .page .link-2 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 0px 26px 0px 27px;
    position: relative;
    width: 72px;
  }
  
  .page .text-wrapper-13 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .link-3 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 0px 23px 0px 24px;
    position: relative;
    width: 72px;
  }
  
  .page .text-wrapper-14 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: -13.5px;
    margin-right: -13.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .div-sub-nav-box {
    align-items: flex-start;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #d4d4d4;
    display: flex;
    justify-content: center;
    left: -1964px;
    padding: 0px 360px;
    position: absolute;
    top: 29px;
    width: 1920px;
  }
  
  .page .div-sub-nav-inner {
    height: 280px;
    max-width: 1200px;
    position: relative;
    width: 1200px;
  }
  
  .page .overlap-group {
    height: 220px;
    left: 388px;
    position: absolute;
    top: 30px;
    width: 299px;
  }
  
  .page .list-3 {
    height: 220px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
  }
  
  .page .item-link {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 49px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .page .item-link-KTX {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 48px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 49px;
    white-space: nowrap;
  }
  
  .page .item-link-2 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 43px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 99px;
    white-space: nowrap;
  }
  
  .page .item-link-3 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 43px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 149px;
    white-space: nowrap;
  }
  
  .page .item-link-4 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 48px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 199px;
    white-space: nowrap;
  }
  
  .page .list-4 {
    height: 70px;
    left: 149px;
    position: absolute;
    top: 0;
    width: 150px;
  }
  
  .page .item-link-5 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 56px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .page .item-link-TV {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 45px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 49px;
    white-space: nowrap;
  }
  
  .page .list-5 {
    height: 120px;
    left: 692px;
    position: absolute;
    top: 30px;
    width: 150px;
  }
  
  .page .item-link-FAQ {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    left: 62px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 49px;
    white-space: nowrap;
  }
  
  .page .plugin-icon {
    height: 128px !important;
    left: 61px !important;
    position: absolute !important;
    top: 5px !important;
    width: 129px !important;
  }
  
  .page .strong-strong-footer {
    align-items: flex-start;
    background-color: #2f3640;
    display: inline-flex;
    left: 0;
    position: absolute;
    top: 1603px;
  }
  
  .page .div-footer-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 60px;
    position: relative;
    width: 1920px;
  }
  
  .page .div-footer-use {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #74777c;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 360px 1px;
    position: relative;
    width: 1920px;
  }
  
  .page .list-6 {
    align-items: flex-start;
    display: flex;
    max-width: 1200px;
    padding: 0px 847px 0px 0px;
    position: relative;
    width: 1200px;
  }
  
  .page .item-3 {
    align-items: flex-start;
    border-color: #74777c;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 19px 63px 20.7px;
    position: relative;
  }
  
  .page .text-wrapper-15 {
    color: #d0d0d0;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 25.7px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .item-4 {
    align-items: flex-start;
    border-color: #74777c;
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    justify-content: center;
    margin-right: -69px;
    padding: 19px 66px 20.7px 65px;
    position: relative;
    width: 163px;
  }
  
  .page .text-wrapper-16 {
    color: #d0d0d0;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 25.7px;
    margin-left: -17.5px;
    margin-right: -17.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .div-txt-box {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 1180px;
  }
  
  .page .div-txt-img {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    padding: 25px 0px 0px;
    position: relative;
    width: 1180px;
  }
  
  .page .heading-4 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .page .div-sns-img {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 10px 6px 0px;
    position: relative;
  }
  
  .page .img-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 14.72px 0px 0px;
    position: relative;
  }
  
  .page .img {
    height: 41px;
    position: relative;
    width: 41px;
  }
  
  .page .div-txt-info {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 754px 0px 0px;
    position: relative;
    width: 1180px;
  }
  
  .page .text-wrapper-17 {
    color: #d0d0d0;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page .text-wrapper-18 {
    color: #d0d0d0;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 22px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  