.header {
  align-items: center;
  background-color: #d4d4d4;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 114px;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 100%;
}

.header .group-instance {
  align-self: stretch !important;
  height: unset !important;
  left: unset !important;
  margin-bottom: -8px !important;
  margin-left: -4px !important;
  position: relative !important;
  top: unset !important;
}

.header .button-23 {
  left: unset !important;
  top: unset !important;
}
