.footer {
  align-items: center;
  background-color: #212121;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 265px;
  justify-content: center;
  left: 24px;
  right: 24px;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 24px);
}

.footer .div-footer-wap {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  margin-top: -4.5px;
  padding: 0px 345px 1px;
  position: relative;
}

.footer .frame {
  position: relative;
  width: 521px;
}

.footer .div-text-box {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 0px 0px 11px;
  position: relative;
}

.footer .div-text-img {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 25px 0px 0px;
  position: relative;
  width: 100%;
}

.footer .heading {
  position: relative;
  width: 140px;
}

.footer .div-sns-img {
  flex: 0 0 auto;
  height: 70px;
  position: relative;
}

.footer .div-text-info {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 0px 100px;
  position: relative;
  width: 1211px;
}

.footer .group {
  height: 70px;
  position: relative;
  width: 269px;
}

.footer .copyright-fesit {
  color: #d0d0d0;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 22px;
  left: 0;
  letter-spacing: -0.8px;
  line-height: 22px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}

.footer .element {
  color: #d0d0d0;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 26px;
  left: 2px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 22px;
}

.footer .text-wrapper {
  letter-spacing: 0;
  line-height: 25.7px;
}

.footer .span {
  letter-spacing: -0.8px;
  line-height: 22px;
}

.footer .festt {
  color: #d0d0d0;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 22px;
  left: 2px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
